// Place all the styles related to the sign_up controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    position: fixed;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
    bottom: 200px;
    right: 500px;
}